.listings{
    width:80%;
    height:100%;
    margin: 0 auto;
  align-items: center;
  justify-content: center
}

.container{
    border: antiquewhite 2px;
    display:inline-block;
    width:33%;
    margin-bottom: 3%;
    border-style: solid;
    border-radius: 5px;
    border-color: silver;
}

.image{
    align-items: center;
    justify-content: center;
    display:flex;
}

.details{
    text-align: center;
    word-wrap: normal;
}

.registerButton{
    background-color: green;
}