.App {
  height: 100%;
}

.App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(6px + 2vmin);
  color: white;
  margin-bottom: 5px;
}


.bg-image-top {
  min-height: 40vh;
  width:100%;
  background-image: url('exterior-house-color.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
